@import './variables.scss';

// CSS reset

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//common styling
.inner-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-top: $vertical-space-mdlg;
    margin-bottom: $vertical-space-mdlg;
}

h1, h2, h3, h4, p, a, span, div {
    font-family: 'Noto Sans SC', sans-serif;
}

h1 {
    text-align: center;
    font-size: $font-size-lg;
}

.card {
    background: $color-white-off;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $border-radius-md;
    box-shadow: $box-shadow-nat;
}

.btn {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-sm;
    color: $color-green-dark;
    background: $color-white-off;
    border: none;
    font-size: $font-size-reg;

    &:hover {
        cursor: pointer;
    }
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(to bottom right, $color-green-dark, $color-green-brighter);
}

* {
    text-align: center;
}

@import './landing.scss';