@import './variables.scss';

nav {
    background: $color-grey-darker;
    position: relative;

    * {
        text-align: right;
    }

    .inner-container {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0;
    }

    .btn-container {
        margin-left: auto;
    }

    svg {
        fill: $color-white;
        height: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    .nav-links {

        a {
            padding: $vertical-space-sm;
            text-align: right;
            color: $color-white;
            text-decoration: none;
            color: $color-white;
            display: block;

            &:not(:last-of-type) {
                border-bottom: 1px solid $color-grey-lighter;
            }
        }
    }

    .close {
        height: 0;
    }
}