$color-white: #fff;
$color-white-off: #F0F1F3;

$color-green-brighter: #00E952;
$color-green: #02A637;
$color-green-dark: #1A723A;
$color-green-transparent: rgba(2, 166, 55, .4);
$color-green-pastel: #00AF71;

$color-grey-darker: #202224;
$color-grey-lighter: #4D4E50;
$color-grey-light: #D7D7D8;


$text-shadow-dark-header: 1px 1px 5px rgba(0,0,0,.5);
$text-shadow-dark-paragraph: 0 0 3px rgba(0,0,0,.5);

$vertical-space-xs: .75rem;
$vertical-space-sm: 1rem;
$vertical-space-md: 1.5rem;
$vertical-space-lg: 3rem;

$font-size-lg: 2rem;
$font-size-md: 1.25rem;
$font-size-reg: 1.1rem;
$font-size-sm: .9rem;

$box-shadow-nat: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(0, 0, 0, 0.086);
$box-shadow-sm: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048);

$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-md: 10px;